body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
	font-size:100px;
	color: #00B7FF;
	text-align: center;
}

#answer {
	position: relative;
	top: 50%;
	transform: translateY(10vh);
}


